__sigaction.s
_access.s
_close.s
_exit.s
_execve.s
_fork.s
_getpid.s
_getrusage.s
_gettimeofday.s
_kill.s
_lseek.s
_open.s
_read.s
_rename.s
_sigreturn.s
_sys_brk.s
_sys_errlist.c
_unlink.s
_wait4.s
_write.s
