*.o
*.a
rootdir/libexec/scc/cc1-*
rootdir/libexec/scc/cc2-*
rootdir/libexec/scc/as-*
rootdir/bin/ld
rootdir/bin/scc
rootdir/bin/scpp
rootdir/bin/ar
rootdir/bin/nm
rootdir/bin/objdump
test.log
cc2/error.h
instbl.c
config.mk
inc/ldflags.h
inc/sysincludes.h
inc/syslibs.h
inc/syscrts.h
driver/posix/config.h
as/target/*/*tbl.c
*.out
config
