*.o
*.a
bin/
cc1/cc1-*
rootdir/libexec/scc/cc1-*
test.log
cc2/cc2-*
rootdir/libexec/scc/cc2-*
cc2/error.h
as/as-*
rootdir/libexec/scc/as-*
driver/posix/scc
rootdir/bin/scc
rootdir/bin/scpp
makefile
instbl.c
config.mk
inc/ldflags.h
inc/sysincludes.h
inc/syslibs.h
inc/syscrts.h
driver/posix/config.h
driver/posix/cpp
ar/ar-*
rootdir/bin/ar
nm/nm
rootdir/bin/nm
objdump/objdump
as/target/*/*tbl.c
*.out
ld/ld
rootdir/bin/ld
config
