*.o
*.a
root/libexec/scc/cc1-*
root/libexec/scc/cc2-*
root/libexec/scc/as-*
root/bin/ld
root/bin/scc
root/bin/scpp
root/bin/ar
root/bin/nm
root/bin/objdump
test.log
cc2/error.h
instbl.c
config.mk
inc/ldflags.h
inc/sysincludes.h
inc/syslibs.h
inc/syscrts.h
driver/posix/config.h
as/target/*/*tbl.c
*.out
config
